/* GENERAL STYLES */
/* font-family: 'Emilys Candy', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

section {
  max-width: 900px;
  margin: auto;
}

main {
  padding: 30px;
}

header {
  text-align: center;
  margin: auto;
  background-color: black;
  color: white;
  padding: 30px;
}

header h1 {
  margin: 0;
  font-family: 'Fontdiner Swanky', cursive;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: normal;
}

header h1 img {
  width: 30px;
}

header p {
  max-width: 700px;
  margin: 20px auto;
}

.code-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.js, .es6 {
  background-color: #444;
  color: white;
}